/**
 * Styling rules for the app. interface
 * @todo Restructure for Bootstrap/Sass
 * @author griffinj@lafayette.edu
 */

html, body {
    font-family: "Whitney SSm A","Whitney SSm B",sans-serif;
    background-color: #ffffff;
}

.nav-pills > li > a {
    background-color: #910029;
    color: #ffffff;
}

#collate-form .container-fluid {
    padding-top: 6px;
    padding-bottom: 6px;
}

legend {
    color: inherit;
    border-width: 0 0 0 0;
    margin-bottom: inherit;
}

/*
 * Header
 */
#header-container {
    width: 100%;
    background-color: #ffffff;
}

#header-container h1, #header-container h2 {
    clear: both;
    float: right;
}

/**
 * Navbar
 */
#navbar-container {
    background-color: #910029;
}

#navbar-menu a {
    color: #ffffff;
}

/**
 * Footer
 *
 */
#footer {
    padding-left: 0px;
    padding-right: 0px;
}


#footer-navbar {
    margin-bottom: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

/**
 * Body
 *
 */

#content {

    text-align: center;
}

/**
 * Poem interface
 *
 */
#collate-form .mode-control {
    width: inherit;
    height: inherit;
}


.table-striped > tbody > tr a {
    color: #a53a23;
    text-decoration: underline;
}

#mode .container-fluid {
    display: inline-block;
}

#collation {
    padding-bottom: 3.3333%;
}
#content {
    padding-bottom: 3.3333%;
}

#collate {
    background-image: linear-gradient(to bottom, #545454, #333333);
    border-color: #333333;
}
.btn-primary:active, .btn-primary.active {
    background-color: #333333;
    border-color: #333333;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #333333;
    background-position: 0 -15px;
}

.page-header {
    color: #ffffff;
}

.display-initial {
    
    font-variant: small-caps;
}

.DISPLAY-INITIAL {
    
    font-variant: small-caps;
}

/* Refactor using LESS */
.gradient-severe {

    background-color: #f27474;
}

.gradient-hot {

    background-color: #f2a5a5;
}

.gradient-warm {

    background-color: #f2b3b3;
}

.gradient-moderate {

    background-color: #f2c2c2;
}

.gradient-mild {

    background-color: #F2DEDE;    
}


#collation-container .table {
    background-color: #ffffff;
    color: #000000;
}

#collation-container .table a {
    color: #a53a23;
    text-decoration: underline;
}


/*
 * Styling for the collation table
 *
 */
td.base {
    width: 4%;
}

td.token {
    width: 8%;
}

.line-row-number {

    width: 14%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: inherit;
}


#transcript-sidebar {
    bottom: 4%;
    right: 0;
    width: 12%;
}

#transcript-sidebar li {
    background-color: #a53a23;
    border-radius: 4px;
}

.tei-document {
    color: #333333;
}

.tei-black-letter {
    font-family: 'Portcullion';
    font-size: larger;
}

.tei-body {
    text-align: left;
}

.tei-footnote {
    text-align: left;
}

.tei-display-initial {
    font-size: xx-large;
}
