<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="swiftCollate"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Swift Poems Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link media="all" type="text/css" href="//cloud.typography.com/7014354/640968/css/fonts.css?ver=all" rel="stylesheet">
        <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/main.css') }}">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{{ static_url('js/vendor/bootstrap.min.js') }}"></script>
        <script src="{{ static_url('js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
        <script src="{{ static_url('js/main.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<header>
	  <nav class="navbar navbar-inverse" role="navigation">
	    <div id="header-container" class="container-fluid">
              <h2>
		<a href="//library.lafayette.edu">Skillman Library at Lafayette College</a>
	      </h2>
              <h1>
		<a href="/">Swift Poems Project</a>
	      </h1>
	    </div><!-- /#header-container -->
	    <div class="container-fluid" id="navbar-container" data-spy="affix" data-offset-top="152">
              <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
              </div><!-- ./navbar-header -->
	      <div id="navbar" class="navbar-collapse collapse row">

		<div class="menu nav navbar-left navbar-brand col-xs-2">
		  <a class="pull-left" href="//digital.lafayette.edu"><img src="{{ static_url('dss_logo.png') }}" /></a>
		</div>
		<ul id="navbar-menu" class="menu nav col-xs-3">
		  <li><a href="/">Home</a></li>
		</ul>
	      </div><!-- #/navbar -->
	    </div><!-- /#navbar-container -->
	  </nav>
	</header>

	<div id="main" class="container-fluid">
	  <section id="title">
	    <div class="container-fluid">
	      <ul class="nav nav-pills pull-left">
		<li id="breadcrumbs" role="presentation">
		  <a href="/">Home</a>
		</li>
	      </ul>
	      <ul class="nav nav-pills pull-right">
		<li id="contact" role="presentation">
		  <a href="/">Contact Us</a>
		</li>
		<li id="copyright" role="presentation">
		  <a href="/">Copyright</a>
		</li>
	      </ul>
	    </div>
	  </section>
	  <section id="content">
	    <div class="container-fluid">
	      {% block content %}
	      {% end %}
	    </div>
	  </section>
	</div>

	<footer class="container-fluid" id="footer">
	  <nav id="footer-navbar" class="navbar navbar-inverse navbar-fixed-bottom container-fluid" role="navigation">
	    <div class="container-fluid row">
	      <ul class="nav navbar-nav col-xs-12 row">
		<li class="col-xs-4"><a href="//digital.lafayette.edu">Digital Scholarship Services</a></li>
		<li class="col-xs-4"><a href="//library.lafayette.edu">Skillman Library</a></li>
		<li class="col-xs-4"><a href="//lafayette.edu">Lafayette College</a></li>
	      </ul>
	    </div>
	  </nav>
	</footer>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
