	  {% for line_index, lines in list(enumerate(collation.footnotes, start=1)) %}

		<tr>
		  <td class="base"><a href="#">{{ collation.base_id }}</a></td>
		  <td class="index">Footnote {{ line_index }}</td>
		  {% for token in lines.witnesses[0]['line'].tokens %}
		    {% module Token(token.base_token) %}
		  {% end %}
		</tr>

		{% for line_values in lines.witnesses %}
		<tr>
		  <td><a href="{{ line_values['line'].uri }}"> {{ line_values['id'] }} </a></td>
		  <td class="index">Footnote {{ line_index }}</td>
		  {% for token in line_values['line'].tokens %}
		    {% module Token(token) %}
		  {% end %}
		</tr>
		{% end %}
	  {% end %}
