{% extends "base.html" %}

{% block content %}
      <div id="poem-container" class="row">
        <div class="col-md-12" ng-controller="FormController">
	  {% for poem_id in poem_texts.keys() %}
          <h2>Poem {{ poem_id }}-</h2>
          <p>A Set of Transcripts for Poem within the Swift Poems Project.</p>
	  <form action="/collate/{{ poem_id }}" id="collate-form" method="post">
	    <fieldset>
	      <table class="table table-striped">
		<thead>
		  <th></th>
		  <th>Transcript ID</th>
		  <th>Base Text</th>
		  <th>Variant</th>
		</thead>
		<tbody id="poem-table-body">
		  <tr>
		    <td></td>
		    <td></td>
		    <td><input type="button" id="input-base-text-reset" value="Unset the Base Text"></td>
		    <td><input type="button" id="input-variant-all" value="Select All Transcripts"></td>
		  </tr>
		  {% for transcript_id in poem_texts[poem_id] %}
		  <tr>
		    <td class="glyphicon glyphicon-move"></td>
		    <td>{{ transcript_id }}</td>
		    <td><input type="checkbox" name="base_text" id="input-base-text-{{ transcript_id }}" class="input-base-text" value="{{ transcript_id }}" ng-model="collation.base" ></td>
		    <td><input type="checkbox" name="variants" id="input-variant-{{ transcript_id }}" class="input-variant" value="{{ transcript_id }}" ng-model="collation.variants" ></td>
		  </tr>
		  {% end %}
		</tbody>
	      </table>
	    </fieldset>
	    <input id="input-submit-collate" type="submit" value="Collate" disabled="true" ng-click="collate()">
          </form>
	  {% end %}
        </div>
      </div>
      <script>
/*
	var listGroup = document.getElementById('poem-table-body');
	Sortable.create(listGroup, {
	  handle: '.glyphicon-move'
	});
*/
      </script>
{% end %}
